* {
  margin: 0;
  padding: 0;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  display: inline-block;
  overflow: hidden;
}

pre {
  background-color: ghostwhite;
  border-radius: 24px;
  position: absolute;
  top: 2rem;
  left: 50%;
  transform: translateX(-50%);
}
#display {
  margin: 0px;
  width: 0px;
  height: 0px;
  display: block;
  overflow-y: scroll;
  overflow-x: hidden;
  white-space: pre-wrap;
  transition: all ease 0.5s;
  font-size: large;
  font-weight: bold;
}

.display-full {
  width: 540px !important;
  height: 360px !important;
  margin: 30px 15px !important;
}

.json-key {
  color: brown;
}
.json-value {
  color: navy;
}
.json-string {
  color: olive;
}

#loading {
  position: absolute;
  color: white;

  right: 32px;
  top: 50%;
  font-family: "Courier New", Courier, monospace;
  animation: rotation 5s infinite;
}

@keyframes rotation {
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.hide {
  display: none;
}

.ctrtop {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 5;
  width: 100%;
}

.ctrtop button {
  padding: 0.25rem 1rem 0.25rem 1rem;
  border-radius: 0 0 5px 5px;
  font-weight: bold;
  background-color: white;
  color: darkblue;
  border: none;
  outline: none;
  cursor: pointer;
  margin: 0rem 0.5rem 0rem 0.5rem;
}

.ctrtop button:hover {
  color: blueviolet;
  text-decoration: underline;
}

.ctrtop button:active {
  color: darkmagenta;
  text-decoration: underline;
}
